DATABASE_URL=postgresql+asyncpg://user:pass@ep-xxx-pooler.region.aws.neon.tech/dbname?ssl=require
DATABASE_URL_DIRECT=postgresql+asyncpg://user:pass@ep-xxx.region.aws.neon.tech/dbname?ssl=require
REDIS_URL=rediss://default:password@your-redis-host:6379